body {
  box-sizing: border-box;
}

body h1, p, span, th, td {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}

.logo {
  width: 70%;
  margin: auto;
}

.logo td {
  padding: 10px;
}

.img-1 {
  width: 80%;
}

.img-2 {
  width: 100%;
}

.img-3 {
  width: 20%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-right {
  text-align: right;
}

.border {
  border: 1px solid #008000;
}

.p-4 {
  padding: 4px;
}

.right-0 {
  right: 0;
}

.p-0 {
  padding: 0;
}

.w-full {
  width: 100%;
}

.h-70 {
  height: 70px;
}

.h-215 {
  height: 215px;
}

.text-center {
  text-align: center;
}

.border-top {
  border-top: 1px solid #d5d5d5;
}

.padding-y {
  padding: 5px 0;
}

.table-1 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin: auto;
}

.table-1 th {
  background-color: #ed1f24;
  color: white;
}

.table-1 th, .table-1 td {
  text-align: left;
  padding: 10px;
}

.table-1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-2 {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.table-2 td {
  padding: 15px;
}

.table-2 td:nth-child(odd) {
  background-color: #ed1f24;
  color: #ffffff;
}

.table-2 td:nth-child(even) {
  background-color: #f2f2f2;
}

.display-block {
  display: block;
}